.footer {
    display: grid;
    background-color: $p-color;
    grid-template-columns: 50% 50%;
    padding: 10px;

    &-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        
        & li {
            color: white;
            font-size: 15px;
            font-weight: 400;
            list-style: none;

            @media screen and (max-width: 480px){
                font-size: 12px;
            }
        }
    }
}
.maps {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    padding: 10px;
    
    & iframe {
        width: 180px;
        height: 130px;

        @media screen and (max-width: 480px){
            width: 100px;
            height: 80px;
        }
    }
}